
#section-projects {
  position: relative;
  display: flex;
  justify-content: center;
  height: 85vh;
}

.green-line {
  z-index: 50;
  position: absolute;
  left: 50%; 
  width: 5px;
  background-color:  rgba(41, 224, 43, 0.45);
  height: 100%;
  transform: translateX(-50%); 
  transition: background-color 0.3s ease;
}

.green-line:hover {
  background-color: #00ff00; 
}

.intro-section{
  width: 400px; 
  height: 100px; 
  background-color: red;
  
}

.circle {
  width: 40px;
  height: 40px;
  border-radius: 50%; 
}


.language-box:hover > .intro-section.border-black {
  border-color: rgb(197, 208, 224);
  box-shadow: 0 0 5px white, 0 0 25px white, 0 0 50px white;

}
.language-box:hover > .box-left.border-black{
  border-color: rgb(197, 208, 224);
  box-shadow: 0 0 5px white, 0 0 25px white, 0 0 50px white;
}
.language-box:hover > .box-right.border-black {
  border-color: rgb(197, 208, 224);
  box-shadow: 0 0 5px white, 0 0 25px white, 0 0 50px white;
}


.language-box:hover + .green-line{
  background-color: #00ff00; 
}


.box-right {
  width: 400px; 
  height: 160px; 
}
.box-left {
  width: 400px; 
  height: 160px; 
  background-color: blue; 
}
.intro-section.border-black {
  border-color: rgb(12,23,38);
}
.box-right.border-black {
  border-color: rgb(12,23,38);
}
.box-left.border-black {
  border-color: rgb(12,23,38);
}
